html{
	scroll-behavior: smooth;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Chivo', sans-serif;
}

@font-face {
    font-family: Cassandra;
    src: url(../fonts/jelly.ttf);
}

#brand-name{
	font-family: 'Cassandra', sans-serif;
	font-size: 40px;
	color: #f2f2f2;
}



#jumbotron-landing{
	width: 100%;
	height: 100%;
	background-image: url(../images/landing/bg.jpg);
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

#jumbo-div{
	width: 80%;
	height: 100vh;
	margin: 0 auto;
	padding-top: 7%;
	background-color: transparent;
	color: #f2f2f2;

}

#jumbo-bg{
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 20%);
}

#landing-logo{
	height: 250px;
	width:  250px;


}

 /*start homepage*/

 #container{
 	width: 100%;
 }

 #navbar{
 	position: absolute;
 	z-index: 5;
 	width: 100%;
 	background-color: rgba(0, 0, 0, .20);
 	height: : 15vh;
 	border-bottom: 2px solid rgba(255,255,255,.10)

 }

 #menu li a:hover{
 	font-size: 18px;
 	color: white;

 }

  #menu li a{
  	height: 30px;
  	width: 100px;
  	padding: 0;
  	margin: 5px;
  	line-height: 30px;
  }


#search-icon{
	color: white;
}

#search{
	background-color: transparent;
	border: 1px solid transparent;
}

#search:focus{
	background-color: rgba(255,255,255,.50)
}

#search::placeholder{
	color: white;
}

#carouselExampleIndicators div div img{
	width: 100%;
	height: 100vh;

}

.carousel-caption button a{
	color: white;
	text-decoration:none;
}

#africa{
	background-image: url(../images/africa.jpg);
	height: 100vh;
	width: 100%;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

.row{
	height: 100%;
	width: 100%;
	border: 50px solid rgba(244, 246, 246 , 1);
	padding: -10px



}

#ct-africa{
	width: 100%;
	height: 100%;
	background-color: rgba(238, 217, 27, 0.37);
	padding: 20px;
	border: 5px dotted #080061;
}

#ct-antartica{
	width: 100%;
	height: 100%;
	background-color: rgba(27, 185, 238, 0.37);
	padding: 20px;
	border: 5px dotted #080061;
}

#ct-asia{
	width: 100%;
	height: 100%;
	background-color: rgba(27, 238, 80, 0.37);
	padding: 20px;
	border: 5px dotted #080061;

}
#ct-australia{
	width: 100%;
	height: 100%;
	background-color: rgba(238, 133, 27, 0.37);
	padding: 20px;
	border: 5px dotted #080061;

}

#ct-europe{
	width: 100%;
	height: 100%;
	background-color: rgba(185, 27, 238, 0.37);
	padding: 20px;
	border: 5px dotted #080061;
}

#ct-na{
	width: 100%;
	height: 100%;
	background-color: rgba(27, 45, 238, 0.37);
	padding: 20px;
	border: 5px dotted #080061;
}

#ct-sa{
	width: 100%;
	height: 100%;
	background-color: rgba(238, 27, 94, 0.37);
	padding: 20px;
	border: 5px dotted #080061;
}



#africa-div{
	height: 50vh;
	background-color: rgba(244, 246, 246 , 1);

	
	
}

#africa-btm{
	height: 50vh;
	width: 100%;
	background-color: transparent;

}



#antartica{
	background-image: url(../images/antartica.jpg);
	height: 100vh;
	width: 100%;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

#antartica-div{
	height: 50vh;
	background-color: rgba(244, 246, 246, 1);
}

#antartica-btm{
	height: 50vh;
	width: 100%;
	background-color: transparent;
}


#asia{
	background-image: url(../images/asia.jpg);
	height: 100vh;
	width: 100%;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

#asia-div{
	height: 50vh;
	background-color: rgba(244, 246, 246, 1);
}

#asia-btm{
	height: 50vh;
	width: 100%;
	background-color: transparent;
}


#australia{
	background-image: url(../images/australia.jpg);
	height: 100vh;
	width: 100%;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

#australia-div{
	height: 50vh;
	background-color: rgba(244, 246, 246, 1);
}

#australia-btm{
	height: 50vh;
	width: 100%;
	background-color: transparent;
}


#europe{
	background-image: url(../images/europe.jpg);
	height: 100vh;
	width: 100%;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

#europe-div{
	height: 50vh;
	background-color: rgba(244, 246, 246, 1);
}

#europe-btm{
	height: 50vh;
	width: 100%;
	background-color: transparent;
}


#na{
	background-image: url(../images/na.jpg);
	height: 100vh;
	width: 100%;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

#na-div{
	height: 50vh;
	background-color: rgba(244, 246, 246, 1);
}

#na-btm{
	height: 50vh;
	width: 100%;
	background-color: transparent;
}


#sa{
	background-image: url(../images/sa.jpg);
	height: 100vh;
	width: 100%;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

#sa-div{
	height: 50vh;
	background-color: rgba(244, 246, 246, 1);
}

#sa-btm{
	height: 50vh;
	width: 100%;
	background-color: transparent;
}

.row div button a{
	color: white;
	text-decoration:none;

}

.row div button{
	margin-top: 30px;
}

footer{
	color: white;
	background-color: black;
}




/*about page*/

#jumbotron-about{
	width: 100%;
	height: 100vh;
	background-image: url(../images/about3.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	border-radius: 0;
	padding: 0;
}


#jumbotron-about h1{
	padding-top: 20%;
	color: #f2f2f2;
	font-weight: bold;
	letter-spacing: .5em;
}

#mission{
	border-radius: 20px;
	height: 70vh;
	width: 70%;
	border: 5px dotted #080061;
	position: absolute;
	top: 20%;
	left: 15%;
	z-index: 10;
	display: none;
	visibility: hidden;

}

#vision{
	border-radius: 20px;
	height: 70vh;
	width: 70%;
	border: 5px dotted #080061;
	position: absolute;
	top: 20%;
	left: 15%;
	z-index: 10;
	display: none;
	visibility: hidden;

}

#btn-mission{
	position: absolute;
	bottom: 3%;
	left: 20%;
}

#btn-vision{

	position: absolute;
	bottom: 3%;
	left: 72%;
	
}

#btn-mission:focus ~ #mission{
	visibility: visible;
	display: block;
}

#btn-vision:focus ~ #vision{
	visibility: visible;
	display: block;
}


/*Contact Us Page*/

#jumbotron-contact{
	width: 100%;
	height: 100vh;
	background-image: url(../images/contact1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	border-radius: 0;
	padding: 0;
}

#jumbotron-contact h1{
	padding-top: 20%;
	color: #f2f2f2;
	font-weight: bold;
	letter-spacing: .5em;

}

#jumbotron-gallery{
	width: 100%;
	height: 100vh;
	background-image: url(../images/gallery.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	border-radius: 0;
	padding: 0;
}

#jumbotron-gallery h1{
	padding-top: 20%;
	color: #f2f2f2;
	font-weight: bold;
	letter-spacing: .5em;
}

.bg-black{
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .15);
}

footer hr{
	border: 1px dotted rgba(255, 255, 255, .3); 
	/*background-color: rgba(255, 255, 255, .3);*/
	width: 50%;
	margin: 0 auto;
	margin-bottom: 10px;

}

footer img{
	
	height: 30px;
	width: 30px;
	margin: 0 auto;
	position: relative;
	left: 45%;
	padding: 0 2px;
}

footer{
	height: 120px;
}


























































@media only screen and (max-width: 480px){

	#brand-name{
		position: relative;
		right: 20%;
	}

	#navbar{
		background-color: rgba(0, 0, 0, .5);
	}

	#jumbotron-landing{
		width: 100%;
		height: 100%;
		background-attachment: fixed;
		background-position: center;
		background-size: cover;
	}

	#jumbo-div h1{
		font-size: 25px;
		font-weight: bold;
	}


	/*home page*/

	form{
		display: block;


	}

	.row{
		border-top: 20px solid #f2f2f2;
		border-right: 15px solid #f2f2f2;
		border-left: 15px solid #f2f2f2;
		border-bottom:20px solid #f2f2f2;

	}

	#search{
		width: 80%;

	}

	#brand-name{
		width: 70%;
		text-align: left;
	}

	.carousel-caption h2{
		font-size: 50px;
	}

	.row div h2{
		font-size: 25px;
	}

	.row div p{
		font-size: 12px;
	}

	.africa{
		height: 100%;
	}
	.africa-div{
		height: 100%;
	}

	.row div button{
	margin-top: 0;
	position: relative;
	left: 33%;
	}

	.row div hr{
		display: none;
		visibility: hidden;
	}



/*	about page*/
	

	#jumbotron-about h1{
		padding-top: 50%;
		letter-spacing: 0;
	}

	#jumbo-text-container{
		width: 50%;
		position: relative;
		left: 25%;
		top: 25%;
	}

	#jumbo-text-container-gallery{
		text-decoration: none;
		padding-top: 50%;
	}

	#jumbotron-gallery{
		width: 100%;
		height: 100vh;
	}

}
















